
#mobileStorys {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  justify-content: center;

  transform: translateY(-9.81rem);
  background-color: hsla(0, 0%, 0%, 0.9);
}

.contentMobileStorys {
  width: 41.4rem;
  height: 100%;

  background: linear-gradient(#000000a4, #000000a4), url('../assets/imgs/mobileStorys/background.jpg');
  background-position: bottom;
}



.contentMobileStorys {
  display: grid;
  grid-template-rows: auto 2.9rem 1fr ;

}
.slideThumb {
  grid-area: 1/1;
}
.logoAndExit {
  grid-area: 2/1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slideItems {
  grid-area: 3/1;
  position: relative;
  display: grid;
}
.slideNav {
  grid-area: 3/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.slideThumb {
  display: flex;
}
.slideThumb > span {
  height: 0.3rem;
  flex: 1;
  margin: 1.2rem 0rem 1.6rem 0.4rem;
  border-radius: 2px;
  position: relative;
  background-color: #222;
}
.slideThumb > span:first-child {
  margin-left: 2.4rem;
}
.slideThumb > span:last-child {
  margin-right: 2.4rem;
}
.slideThumb > span.active-slideThumb::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 2px;
  background-color: #fff;
  animation: thumb 5s linear ;
}
.slideThumb > span.active-slideThumb-color::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #fff;
}
@keyframes thumb {
  to {
    width: 100%;
  }
}

.cointentLogoAndExit {
  width: 100%;
  height: 100%;
  margin: 0rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.cointentLogoAndExit>figure {
  height: 100%;
}
.cointentLogoAndExit>figure>img {
  height: 100%;
}
.cointentLogoAndExit>button>img {
  height: 1.6rem;
}

.slideItems > * {
  opacity: 0;
  position: absolute;
  top: 0;
  pointer-events: none;
}
.active-Stories {
  opacity: 1;
  position: relative;
  pointer-events: initial;
}

.slideNav>button{
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0;
}